.calc {
  color: #fff;
  width: 350px;
  margin: 0 auto;
  margin-top: 200px;
}

.screen {
  border-bottom: 1px solid #aaa;
}

.screen > h2 {
  margin-bottom: 10px;
  margin-right: 20px;
  text-align: right;
  font-size: 70px;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  font-size: 50px;
}

.key {
  padding: 8px 40px;
}
